<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meetmate.infra.code.CodeDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.meetmate.infra.code.CodeDto" id="resultMapObj"></resultMap>
		
		<select id="selectList">
			select
				a.cdSeq,
				a.cdName,
				a.cdUseNY,
				a.cdDesc,
				a.cdMoDate,
				a.cdReDate,
				a.cdDelNY,
				a.codegroup_cgSeq
			from
				code a
			where 1 = 1
		</select>
		
	</mapper>