<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.meetmate.infra.user.UserDao">
	<!-- namespace = mapper 와 연결될 dao -->
	<!-- xml 에서 주석 단축키 : ctrl + shift + C -->

	<!-- resultMap : 결과를 담아줄 그으르읏 -->
	<resultMap type="com.meetmate.infra.user.UserDto" id="resultMapObj"></resultMap>
	
	<select id="selectList">
		select
			a.userSeq,
			a.userName,
			a.userBirth,
			a.userGender,
			a.userId,
			a.userPw,
			a.userEmail,
			a.userPhone,
			a.userZipCode,
			a.userAddress,
			a.userDtAddress,
			a.userMoDate,
			a.userReDate,
			a.userDelNY
		from
			user a
		where 1=1
	</select>
	
	<insert id="insert">
		insert into user (
			userName,
			userBirth,
			userGender,
			userId,
			userPw,
			userEmail,
			userPhone,
			userZipCode,
			userAddress,
			userDtAddress,
			userMoDate,
			userReDate,
			userDelNY
		) values(
			#{userName},
			#{userBirth},
			#{userGender},
			#{userId},
			#{userPw},
			#{userEmail},
			#{userPhone},
			#{userZipCode},
			#{userAddress},
			#{userDtAddress},
			now(),
			now(),
			0
		)
	</insert>
	
	</mapper>